---
export interface Props {
	location: string;
  info: string;
  photoDate?: Date;
  publishedDate?: Date;
  updatedDate?: Date;
  imgSrc: string;
  imgAlt: string;
}

const { location, info, photoDate, publishedDate, updatedDate, imgSrc, imgAlt } = Astro.props;
---

<aside class="photo" style={`background-image:url(${imgSrc}); background-color: hsl(375, 50%, 90%);`}>
  <div class="info">
    <div>
      <p class="subtle-info">Photographed at</p>
      <p>{location}, {info}</p>
      <p class="subtle-info">Taken on {photoDate}</p>
      <img src={imgSrc} class="screen-reader-only" alt={imgAlt}>
    </div>
  </div>
</aside>

<style>
  aside.photo {
    background-color: blue;
    background-blend-mode: multiply;
    /*background-size: cover;*/
    background-size: 110% auto;
    background-position: 50% 50%;
    padding-bottom: 58%;
    position: relative;
  }

  .info a {
    font-size: 1.4rem;
  }

  div.info {
      width: 100%;
      background-color: #000;
      color: #fff;
      font-size: 1.4rem;
      padding-top: var(--space-default);
      padding-bottom: var(--space-default);
      padding-left: var(--space-default);
      padding-right: var(--space-default);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  div.info p {
      margin: 0;
      padding: 0;
      padding-bottom: 0.2rem;
  }

  div.info a {
    color: #B3B3B3;
  }

  p.subtle-info {
      color: #B3B3B3;
  }

  @media (min-width: 1000px) {
    aside.photo {
      position: fixed;
      background-size: cover;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      width: calc(40%);
      z-index: 999;
    }

    body {
      width: 60%;
      margin-right: 40%;
    }
  }
</style>